<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿記事詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= image_tag @article.image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @article.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>内容</th>
                </tr>
                <tr>
                  <td><%= simple_format @article.info %></td>
                </tr>
              </table>
              <table class="table is-narrow">
                <tr>
                  <th>ジャンル</th>
                </tr>
                <tr>
                  <td><%= simple_format @article.category.name %></td>
                </tr>
              </table>
              <% if @article.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_article_path(@article), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            投稿者: <%= @article.user.nickname %>
          </p>

          <%= link_to user_path(@article.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @article.user.nickname %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>